*.iml
.gradle/
.idea/
local.properties
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
.tools/
*.apk
*.aab
*.zip
*.log
keystore.properties
*.jks
*.keystore
app/src/hybrid/assets/sherpa-onnx-streaming-zipformer-fr-2023-04-14/
offline-model-download/
